<div class="flex-container" fxLayout.xs="column" fxLayoutAlign="space-around start" >

  <mat-card class="item search">
    <mat-card-header>
      <mat-card-title>Find Lyrics</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Artist Name</mat-label>
        <input required matInput [(ngModel)]="artist">
        <mat-icon matSuffix>face</mat-icon>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Song Name</mat-label>
        <input required matInput [(ngModel)]="song" (keyup.enter)="onsearchLyrics()">
        <mat-icon matSuffix>audiotrack</mat-icon>
      </mat-form-field>
      <mat-spinner-button class="align-right"
        [disabled]="!artist || !song"
        [options]="spinnerButtonOptions"
        (btnClick)="onsearchLyrics()">
      </mat-spinner-button>
    </mat-card-content>
  </mat-card>

  <mat-card class="item flex-lyrics">
    <mat-card-header>
      <mat-card-title>Lyrics</mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="showLyrics" class="lyrics-wrapper flex-column">
      <h2>{{lyrics.Artist}} - {{lyrics.SongTitle}}</h2>
      <textarea readonly matTextareaAutosize matInput>{{lyrics.Lyrics}}</textarea>
    </mat-card-content>

    <mat-card-content *ngIf="!showLyrics" class="lyrics-wrapper">
      <mat-label>{{errorMessage}}</mat-label>
    </mat-card-content>
  </mat-card>

</div>
